<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950390001571-k2abba124dpcotu1h17531bc93u7va63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950390001571-k2abba124dpcotu1h17531bc93u7va63</string>
	<key>API_KEY</key>
	<string>AIzaSyBnErh6P8phsDxdnY2dUCaDGws7Oan4s4o</string>
	<key>GCM_SENDER_ID</key>
	<string>950390001571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectAssignment</string>
	<key>PROJECT_ID</key>
	<string>movie-app-d08ed</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-app-d08ed.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950390001571:ios:cb68e95197bb4e4431d416</string>
</dict>
</plist>